body{
    margin: 0;
}
.alignwide, body > div > header, footer, .woocommerce .site-main, .woocommerce-page .site-main, body .entry-header, div.entry-content > *:not(.wp-block-columns, .wp-block-group) {
    padding-left: max( 200px , calc(calc(100vw - var(--content-width-big)) /2) );
    padding-right: max( 200px , calc(calc(100vw - var(--content-width-big)) /2) );
}
div.wp-block-columns{
    padding-bottom: var(--content-padding-huge );
    padding-top: var(--content-padding-huge);
    align-items: flex-start;
    gap: 120px;
}
.wp-block-columns.has-background{
    padding: 0;
    margin-left: max( 50px , calc(calc(100vw - var(--content-width-big)) /2) );
    margin-right: max( 50px , calc(calc(100vw - var(--content-width-big)) /2) );
    margin-bottom:var(--content-padding-big); ;
    margin-top: var(--content-padding-big);
}   
.wp-block-group.has-background{
    padding: var(--content-padding-big) 0;
}
.wp-block-columns.has-background > .wp-block-column{
    padding: 120px;
}
.wp-block-columns.has-background > .wp-block-column:first-child{
    padding-right: 0px;
}
.wp-block-columns.has-background > .wp-block-column:last-child{
    padding-left: 0px;
}
.entry-content > .wp-block-columns:not(.alignfull, .alignwide){
    max-width: 768px;
    margin: auto;
}
.entry-content > .alignwide{
    display: flex;
    max-width: 100%;
}
.entry-content > .alignfull{
    display: flex;
    max-width: var(--content-width-full);
}
.wp-block-columns >.wp-block-column{
    flex-basis: 50%;
    margin-bottom: var(--column-padding-small);
}
.wp-block-columns >.wp-block-column:not(:first-child){
    margin-left: max( 10px , calc(calc(100vw - var(--content-width-medium)) /2) );
}
figure{
    margin: 0;
}
.entry-content img{
    width: 100%;
    max-height: 750px;
    object-fit: cover;
}
.entry-content img.small{
    max-height: 300px;
}
.has-text-align-center{
    text-align: center;
}
.has-text-align-left{
    text-align: left;
}
.has-text-align-right{
    text-align: right;
}
.entry-header{
    display: none;
}
p em{
    font-size: 10px;
    color: var(--color-lighter-brown);
    font-style: italic;
    position: relative;
    top: -15px;
}
.entry-content > *:last-child{
    margin-bottom: 0;
}


/*--------------------------------------------------------------------------------------*\
| FORMS
\*--------------------------------------------------------------------------------------*/
.gform_wrapper.gravity-theme .gform_heading{
	display: none;
}
.gform_wrapper input, .gform_wrapper textarea{
    border: 1px solid var(--color-green);
    opacity: 0.75;
    color: black;
    font-weight: 600;
    font-size: 12px;
}
.gform_wrapper.gravity-theme .gfield_description{
	font-style: italic;
	font-size: 12px;
}
.gform_button {
	padding: 8px 32px;
    border-radius: 26px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: 0.6s;
    border: 1px solid #709b9342;
}
.gchoice label{
	cursor: pointer;
	color: whitesmoke;
}
.contact div > div.wp-container-3 > div.wp-container-1 > h1{
	margin-bottom: 0;
}


/*--------------------------------------------------------------------------------------*\
| BUTTONS
\*--------------------------------------------------------------------------------------*/   
.entry-content .wp-block-button{
    margin-bottom: var(--content-padding-medium);
}
.entry-content .wp-block-button a:hover{
    cursor: pointer;
}
.entry-content .wp-block-button:nth-child(odd) a {
    border: 1px solid var(--color-green);
    border-radius: var(--border-radius);
    padding: 8px;
    color: var(--color-white);
    background-color: var(--color-green);
}
.entry-content .wp-block-button:nth-child(even) a {
    border: 1px solid var(--color-green);
    border-radius: var(--border-radius);
    padding: 8px;
    color: var(--color-green);
}
.entry-content .wp-block-button.is-style-outline a{
    border: 1px solid var(--color-brown);
    background-color: unset;
    border-radius: var(--border-radius);
    padding: 8px;
    color: var(--color-brown);
}
/* HOVER */
.entry-content .wp-block-button:nth-child(odd) a:hover{
    color: var(--color-white);
    background-color: var(--color-brown);
    transition: 0.2s;
}
.entry-content .wp-block-button:nth-child(even) a:hover{
    color: var(--color-white);
    background-color: var(--color-green);
    transition: 0.2s;
}
.entry-content .wp-block-button.is-style-outline a:hover{
    color: var(--color-white);
    background-color: var(--color-brown);
    transition: 0.2s;
}





/*--------------------------------------------------------------------------------------*\
| MEDIA QUERIES
\*--------------------------------------------------------------------------------------*/
@media screen and (max-width: 1800px){
    .alignwide, body > div > header, footer, .woocommerce .site-main, .woocommerce-page .site-main, body .entry-header, div.entry-content > *:not(.wp-block-columns, .wp-block-group) {
        padding-left: max( 150px , calc(calc(100vw - var(--content-width-medium)) /2) );
		padding-right: max( 150px , calc(calc(100vw - var(--content-width-medium)) /2) );
    }
    .wp-block-columns.has-background{
        margin-left: max( 150px , calc(calc(100vw - var(--content-width-medium)) /2) );
        margin-right: max( 150px , calc(calc(100vw - var(--content-width-medium)) /2) );
    }    
 
}
@media screen and (max-width: 1350px){
    .alignwide, body > div > header, footer, .woocommerce .site-main, .woocommerce-page .site-main, body .entry-header, div.entry-content > *:not(.wp-block-columns, .wp-block-group) {
        padding-left: max( 150px , calc(calc(100vw - var(--content-width-small)) /2) );
		padding-right: max( 150px , calc(calc(100vw - var(--content-width-small)) /2) );
    }
    .wp-block-columns.has-background{
        margin-left: max( 150px , calc(calc(100vw - var(--content-width-small)) /2) );
        margin-right: max( 150px , calc(calc(100vw - var(--content-width-small)) /2) );
        margin-top: var(--content-padding-medium);
    }   
    .wp-block-columns.has-background > .wp-block-column{
        padding: var(--content-padding-medium);
    }  
}
@media screen and (max-width: 900px){
    .alignwide, body > div > header, footer, .woocommerce .site-main, .woocommerce-page .site-main, body .entry-header, div.entry-content > *:not(.wp-block-columns, .wp-block-group) {
        padding-left: max( 50px , calc(calc(100vw - var(--content-width-smallest)) /2) );
		padding-right: max( 50px , calc(calc(100vw - var(--content-width-smallest)) /2) );
    }
    .wp-block-columns.has-background{
        margin-left: max( 50px , calc(calc(100vw - var(--content-width-smallest)) /2) );
        margin-right: max( 50px , calc(calc(100vw - var(--content-width-smallest)) /2) );
    }   
    .entry-content > .alignwide{
        flex-direction: column;
    }
    .wp-block-columns >.wp-block-column:not(:first-child){
        margin-left: 0 ;
    }

}
@media screen and (max-width: 450px){

}
