/*--------------------------------------------------------------------------------------*\
| CUSTOM
\*--------------------------------------------------------------------------------------*/
body.page .entry-content .no-margin-top{
	margin-top: 0;
}
body.page .entry-content .no-margin-bottom{
	margin-bottom: 0;
}
body.page .entry-content .no-padding-top{
	padding-top: 0;
}
body.page .entry-content .no-padding-bottom{
	padding-bottom: 0;
}


/*--------------------------------------------------------------------------------------*\
| MEDIA QUERIES
\*--------------------------------------------------------------------------------------*/
@media screen and (max-width: 1800px){

}
@media screen and (max-width: 1350px){

}
@media screen and (max-width: 900px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 550px){

}
