/*--------------------------------------------------------------------------------------*\
| ALIGNMENT
\*--------------------------------------------------------------------------------------*/   
header.site-header, footer, .entry-content > *.alignwide, .entry-header{
	padding-left: calc( 1.25 * var(--section-padding-l));
	padding-right: calc(1.25 * var(--section-padding-l));
}
.entry-content .wp-block-columns > .wp-block-column > .wp-block-columns:first-child:not(:only-child){
	padding-bottom: var(--content-padding-xl);
}
.entry-content .wp-block-columns > .wp-block-column > * ~ .wp-block-columns{
	padding-top: var(--content-padding-xl);
}

/*--------------------------------------------------------------------------------------*\
| ENTRY-CONTENT
\*--------------------------------------------------------------------------------------*/   
.entry-content *:has(.aligncenter){
	margin: auto;
}
.entry-content > * {
    padding-top: calc( 1 * var(--section-padding-l));
    padding-bottom: calc( 1 * var(--section-padding-l));
    max-width: 100%;
    margin: auto;
}
.entry-content > *.alignfull{
	padding-left: 0;
	padding-right: 0;
}
.entry-content > *:not(.alignfull){
	padding-left: calc( 1.25 * var(--section-padding-l));
	padding-right: calc( 1.25 * var(--section-padding-l));
}
.entry-content > div *.has-background{
	padding: var(--content-padding-xl);
}


/*--------------------------------------------------------------------------------------*\
| IMAGE
\*--------------------------------------------------------------------------------------*/  
.wp-block-image.is-style-rounded img{
	border-radius: 50%;
} 
picture{
	display: flex;
}
figure{
	margin: 0;
}
figure.alignleft{
    display: flex;
    justify-content: flex-start;
}
figure.alignright{
    display: flex;
    justify-content: flex-end;
}
body .is-style-cover{
	max-height: unset;
}
body .is-style-cover img{
	object-fit: contain;
	width: 100%;
	height: auto;
	max-height: unset;
}
body .is-style-contain{
	max-height: unset;
}
body .is-style-contain:has( > .alignright, > .alignleft, > .aligncenter){
	width: 100%;
}
body .is-style-contain img{
	object-fit: contain;
	height: auto;
}
.wp-block-image{
	margin: 0;
	display: grid;
}
.wp-block-image img{
    object-fit: cover;
	width: 100%;
} 

h1 > img,
h2 > img,
h3 > img,
h4 > img,
h5 > img,
h6 > img,
a > img,
p > img{
	height: 100%;
}

/*--------------------------------------------------------------------------------------*\
| VARIA
\*--------------------------------------------------------------------------------------*/   
body{
    margin: 0;
}
p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child{
	padding-top: 0;
}
.custom-logo{
	width: 300px;
    height: auto;
}
.custom-logo-link{
	display: flex;
	align-items: center;
}
.entry-title{
	margin-bottom: var(--content-padding-xl);
}
.site-branding{
	display: flex;
}
.entry-content p > a{
	text-decoration: underline;
}
	.entry-header{
	display: none;
}
.bold{
	font-weight: bold;
}
hr{
	margin-bottom: calc( 0.5em + var(--content-padding-m));
}
div.no-gap{
	gap: 0;
}
*:focus-visible{
	outline: 1px solid var(--text-color);
}
p:has(> img){
	display: flex;
    align-items: center;
    gap: 20px;
}
p > img{
	width: 40px;
	height: 20px;;
}


/*--------------------------------------------------------------------------------------*\
| LISTS
\*--------------------------------------------------------------------------------------*/   
ul.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.entry-content ul{
	padding-left: 1em;
}
.entry-content ul li{
	position: relative;
	padding:8px 0;
}
.entry-content ul li > a{
	color: inherit;	
}

/*--------------------------------------------------------------------------------------*\
| COLUMNS
\*--------------------------------------------------------------------------------------*/   
.wp-block-columns{
	width: 100%;
	display: flex;
	gap: var(--section-padding-l);
	box-sizing: border-box;
    flex-wrap: nowrap;
}
.wp-block-columns > .wp-block-column{
	width: 100%;
	box-sizing: border-box;
	min-width: 0;
}
.entry-content > .wp-block-columns.has-background{
	display: inline-flex;
	margin: 0;
	padding-top: var(--section-padding-l);
	padding-bottom: var(--section-padding-l);
}
.wp-block-columns > .wp-block-column > *:last-child:not(:only-child){
	margin-bottom: 0;
}



/*--------------------------------------------------------------------------------------*\
| COVER IMAGE
\*--------------------------------------------------------------------------------------*/   
.wp-block-cover__image-background {
	max-width: 100%;
	object-fit: cover;
}
div.entry-content > .wp-block-cover{
	display: flex;
	position: relative;
    padding-top: 0;
    margin: 0;
    padding: 0;
}
.wp-block-cover{
	display: flex;
	position: relative;
    margin: 0;
}
.wp-block-cover img{
	width: 100%;
	height: auto;
}
.wp-block-cover .wp-block-cover__inner-container {
	padding-top: calc( 1 * var(--section-padding-l));
	padding-bottom:calc( 1 * var(--section-padding-l));
    padding-left: calc( 1 * var(--section-padding-l));
    padding-right: calc( 1 * var(--section-padding-l));	
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
}
span.has-background-dim{
	width: 100%;
    position: absolute;
    height: 100%;
    background:#0000002b;
    z-index: 0;
}

/*--------------------------------------------------------------------------------------*\
| ALIGNMENT
\*--------------------------------------------------------------------------------------*/   
.is-content-justification-center{
    justify-content: center;
}
.is-content-justification-left{
    justify-content: flex-start;
}
.is-content-justification-right{
    justify-content: flex-end;
}
.is-vertically-aligned-center{
	align-self: center;
}
.is-vertically-aligned-top{
	align-self: flex-start;
}
.is-vertically-aligned-bottom{
	align-self: flex-end;
}
.has-text-align-center{
	text-align: center;
}
.has-text-align-left{
	text-align: start;
}
.has-text-align-right{
	text-align: end;
}
figure.aligncenter{
	display: flex;
    justify-content: center;
}

/*--------------------------------------------------------------------------------------*\
| GALLERY
\*--------------------------------------------------------------------------------------*/   

figure.wp-block-gallery > .wp-block-image{
    width: calc(25% - 3 * var(--content-padding-m) / 4);
	display: flex;
}
figure.wp-block-gallery.masonry-gallery > .wp-block-image{
	margin-bottom: 10px;
}
figure.wp-block-gallery img{
	cursor: pointer;
	border-radius: unset;
	height: 100%;
    width: 100%;
	border-radius: var(--border-radius-small);
}
figure.wp-block-gallery > figure{
	display: block;
	width: unset;
	height: unset;
}
figure.wp-block-gallery picture{
	margin-bottom: 10px;
}



/*--------------------------------------------------------------------------------------*\
| BLOCK QUERY
\*--------------------------------------------------------------------------------------*/   
.wp-block-query ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	gap: var(--content-gap);
	display: flex;
	flex-wrap: wrap;
}
li.wp-block-post .wp-block-group{
	padding: 0 !important;
}
li.wp-block-post{
	transition: 0.3s ease-in-out;
	width: calc( (100% - 2 * var(--content-gap) )/ 3);
}
li.wp-block-post.wide{
	width: calc( (100% - 1 * var(--content-gap) )/ 2);
}
.wp-block-post-title{
	padding: 0;
}
.wp-block-post-featured-image{
	height: 300px;
}
.wp-block-post-featured-image img{
	height: 300px;
	width: 100%;
	object-fit: cover;
}


/*--------------------------------------------------------------------------------------*\
| BUTTONS
\*--------------------------------------------------------------------------------------*/   
.wp-block-buttons{
	display: flex;
    flex-wrap: wrap;
	margin-top: var(--content-padding-l);
}
.wp-block-buttons:only-child{
	margin-top: 0;
}
.menu-afspraak-container li.menu-item{
	margin: 0;
}
header .contact{
	display: flex;
	align-items: center;
	justify-content: center;
}
.wp-block-button, .menu-afspraak-container li{
	display: flex;
	align-items: center;
	margin-right: var(--content-padding-m);
	margin-bottom: var(--content-padding-m);
}
.wp-block-button:only-child{
	margin-right: 0;
    margin-bottom: 0;
}
.wp-block-button a, .gform_wrapper.gravity-theme .gform_footer input, .menu-afspraak-container a{
	background-color: var(--filled-button-background);
	color: var(--filled-button-text);
	border: unset;
	transition: 0.23s;
	cursor: pointer;
	padding: 16px 36px;
	letter-spacing: 1.5px;
	border: 2px solid var(--filled-button-background);
	border-radius: var(--border-radius);
	transition: 0.3s;
	text-transform: uppercase;
	line-height: 1;
}
.wp-block-button{
	cursor: pointer;
}
.wp-block-button.is-style-outline a, .wp-block-button.is-style-outline p, .menu-afspraak-container a{
	background: unset;
	line-height: 1;
	border: 2px solid var(--outlined-button-text);
	color: var(--outlined-button-text);
}
.wp-block-button.is-style-Underline a{
	background: unset;
	border: 2px solid transparent;
	color: var(--outlined-button-text);
	text-decoration: underline;
}




/* HOVER */
.wp-block-button a:hover {
	background-color: var(--outlined-button-text);
	border: 2px solid  var(--outlined-button-text);
	color: var(--background-color);
}
.wp-block-button.is-style-outline a:hover, .menu-afspraak-container a{
	background: var(--filled-button-background);
	border: 2px solid var(--filled-button-background);
	color: var(--filled-button-text);
}
.wp-block-button.is-style-Underline a:hover{
	text-decoration: unset;
}




/*--------------------------------------------------------------------------------------*\
| MEDIA QUERIES
\*--------------------------------------------------------------------------------------*/
@media screen and (min-width: 1800px){

}
@media screen and (max-width: 1800px){
	.entry-content > .wp-block-columns.has-background {
		padding-top: var(--section-padding-m);
		padding-bottom: var(--section-padding-m);
	}
	.entry-content > *{
		padding-top: calc( 0.75 * var(--section-padding-l));
		padding-bottom: calc( 0.75 * var(--section-padding-l));
		max-width: 100%;
		margin: auto;
	}
	.entry-content .wp-block-columns > .wp-block-column > .wp-block-columns:first-child:not(:only-child){
		padding-bottom: calc( 0.75 * var(--section-padding-l));
	}
	.entry-content .wp-block-columns > .wp-block-column > * ~ .wp-block-columns {
		padding-top: calc( 0.75 * var(--section-padding-l));
	}
	header.site-header, footer, .entry-content > *.alignwide, .entry-header, .wp-block-cover .wp-block-cover__inner-container{
		padding-left: calc( 1 * var(--section-padding-l));
		padding-right: calc( 1 * var(--section-padding-l));
	}
	.entry-content > *:not(.alignfull){
		padding-left: calc( 1 * var(--section-padding-l));
		padding-right: calc( 1 * var(--section-padding-l));
	}
	.entry-content > div *.has-background{
		padding: calc( 0.25 * var(--section-padding-l));;
	}
}
@media screen and (max-width: 1350px){
	.wp-block-columns{
		gap: var(--section-padding-s);
	}
	.wp-block-column{
		flex-basis: unset !important;
	}
	.wp-block-columns > .wp-block-column:empty {
		display: none;
	}
	header.site-header, footer, .entry-content > *.alignwide, .entry-header, .wp-block-cover .wp-block-cover__inner-container{
		padding-left: calc( 0.5 * var(--section-padding-l));
		padding-right: calc( 0.5 * var(--section-padding-l));
	}
	.entry-content > *:not( .alignfull){
		padding-left:calc( 0.5 * var(--section-padding-l));
		padding-right: calc( 0.5  * var(--section-padding-l));
	}
	.entry-content > *{
		padding-top: var(--section-padding-m);
		padding-bottom: var(--section-padding-m);
		max-width: 100%;
		margin: auto;
	}
	.entry-content .wp-block-columns > .wp-block-column > * ~ .wp-block-columns {
		padding-top: var(--section-padding-m);
	}
	.entry-content .wp-block-columns > .wp-block-column > .wp-block-columns:first-child:not(:only-child){
		padding-bottom: var(--section-padding-m);
	}
	.wp-block-button .wp-block-button__link, footer p:not(.cred) > a, .gform_button.button {
		padding: 12px;
	}
	.wp-block-cover .wp-block-cover__inner-container{
		padding: var(--content-padding-l);
	}
	.entry-content div.wp-block-columns{
		flex-wrap: wrap;
	}		
	.entry-content > div *.has-background{
		padding: calc( 0.5  * var(--section-padding-l));
	}
	.entry-content > .wp-block-columns.has-background{
		padding: calc( 0.5  * var(--section-padding-l));
	}
	.wp-block-columns > div > .wp-block-columns{
		flex-wrap: nowrap;	
	}
	body.page div.entry-content > div:first-child::after{
		display: none;
	}
}
@media screen and (max-width: 900px){
	header.site-header, footer, .entry-content > *.alignwide, .entry-header, .wp-block-cover .wp-block-cover__inner-container{
		padding-left: calc( 0.5 * var(--section-padding-m));
		padding-right: calc( 0.5 * var(--section-padding-m));
	}
	.entry-content > *:not( .alignfull){
		padding-left: calc( 0.5 * var(--section-padding-m));
		padding-right: calc( 0.5 * var(--section-padding-m));
	}	
	.entry-content > *{
		padding-top: calc( 0.5 * var(--section-padding-m));
		padding-bottom: calc( 0.5 * var(--section-padding-m));
		max-width: 100%;
		margin: auto;
	}
	.entry-content .wp-block-columns > .wp-block-column > * ~ .wp-block-columns {
		padding-top: calc( 0.5 * var(--section-padding-m));
	}
	.entry-content .wp-block-columns > .wp-block-column > .wp-block-columns:first-child:not(:only-child){
		padding-bottom: calc( 0.5 * var(--section-padding-m));
	}
	.entry-content > .wp-block-columns.has-background{
		padding: calc( 0.5 * var(--section-padding-m));
	}
	.entry-content > div *.has-background{
		padding: calc( 0.5  * var(--section-padding-m));
	}
	body .wp-block-quote p, body .wp-block-quote cite{
		max-width: 66%;
	}
	body .wp-block-quote {
		padding-top: var(--section-padding-m);
		padding-bottom: var(--section-padding-m);
	}
}
@media screen and (max-width: 768px){
	.wp-block-columns > div > .wp-block-columns{
		flex-direction: column;	
	}
	.usp .wp-block-image img{
		width: 50px;
		object-fit: contain;
	}
	.wp-block-cover .wp-block-cover__inner-container{
		padding: var(--content-padding-m);
		opacity: 0.85;
	}
	body div.entry-content div.wp-block-columns, .wp-block-buttons{
		flex-wrap: wrap;
	}
	.wp-block-columns > .wp-block-column{
		flex-basis: 100%;
	}


}
@media screen and (max-width: 550px){	

	header.site-header, footer, .entry-content > *.alignwide, .entry-header, .wp-block-cover .wp-block-cover__inner-container{
		padding-left: calc( 0.5 * var(--section-padding-s));
		padding-right: calc( 0.5 * var(--section-padding-s));
	}
	.entry-content > *:not( .alignfull){
		padding-left: calc( 0.5 * var(--section-padding-s));
		padding-right: calc( 0.5 * var(--section-padding-s));
	}
	.entry-content > div *.has-background{
		padding: calc( 0.5 * var(--section-padding-s));
	}
	.entry-content > .wp-block-columns.has-background{
		padding: var(--section-padding-s) calc(  0.5 * var(--section-padding-s));
	}

}
