/*--------------------------------------------------------------------------------------*\
| ALIGNMENT
\*--------------------------------------------------------------------------------------*/   
header.site-header, footer, .entry-content > *.alignwide, .entry-header{
	padding-left: calc( 1.25 * var(--section-padding-l));
	padding-right: calc(1.25 * var(--section-padding-l));
}

/*--------------------------------------------------------------------------------------*\
| ENTRY-CONTENT
\*--------------------------------------------------------------------------------------*/   
.entry-content *:has(.aligncenter){
	margin: auto;
}
.entry-content > * {
    padding-top: calc( 1 * var(--section-padding-l));
    padding-bottom: calc( 1 * var(--section-padding-l));
    max-width: 100%;
    margin: auto;
}
.entry-content > *.alignfull{
	padding-left: 0;
	padding-right: 0;
}
.entry-content > *:not(.alignfull){
	padding-left: calc( 1.25 * var(--section-padding-l));
	padding-right: calc( 1.25 * var(--section-padding-l));
}
.entry-content > div.wp-block-columns *.has-background{
	padding: var(--content-padding-xl);
}


/*--------------------------------------------------------------------------------------*\
| IMAGE
\*--------------------------------------------------------------------------------------*/  
.wp-block-image.is-style-rounded img{
	border-radius: 50%;
} 
picture{
	display: flex;
}
figure{
	margin: 0;
}
figure.alignleft{
    display: flex;
    justify-content: flex-start;
}
figure.alignright{
    display: flex;
    justify-content: flex-end;
}
body .is-style-cover{
	max-height: unset;
}
body .is-style-cover img{
	object-fit: contain;
	width: 100%;
	height: auto;
	max-height: unset;
}
body .is-style-contain{
	max-height: unset;
}
body .is-style-contain:has( > .alignright, > .alignleft, > .aligncenter){
	width: 100%;
}
body .is-style-contain img{
	object-fit: contain;
}
.wp-block-image{
	margin: 0;
	display: grid;
}
.wp-block-image img{
    object-fit: cover;
	border-radius: 20px 20px 0px 0px;
} 

h1 > img,
h2 > img,
h3 > img,
h4 > img,
h5 > img,
h6 > img,
a > img,
p > img{
	height: 100%;
}

/*--------------------------------------------------------------------------------------*\
| VARIA
\*--------------------------------------------------------------------------------------*/   
body{
    margin: 0;
}
p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child{
	padding-top: 0;
}
.custom-logo{
	width: auto;
    height: auto;
    aspect-ratio: 1 / 2;
}
.entry-title{
	margin-bottom: var(--content-padding-xl);
}
.site-branding{
	display: flex;
}
.entry-content p > a{
	text-decoration: underline;
}
.home .entry-header{
	display: none;
}
.bold{
	font-weight: bold;
}
hr{
	margin-bottom: calc( 0.5em + var(--content-padding-m));
}




/*--------------------------------------------------------------------------------------*\
| LISTS
\*--------------------------------------------------------------------------------------*/   
ul.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.entry-content ul{
	padding-left: 1em;
}
.entry-content ul li{
	position: relative;
	padding:8px 0;
}
.entry-content ul li > a{
	color: inherit;	
}

/*--------------------------------------------------------------------------------------*\
| COLUMNS
\*--------------------------------------------------------------------------------------*/   
.wp-block-columns{
	width: 100%;
	display: flex;
	gap: var(--content-gap);
	box-sizing: border-box;
    flex-wrap: nowrap;
}
.wp-block-columns > .wp-block-column{
	width: 100%;
	box-sizing: border-box;
}
.entry-content > .wp-block-columns.has-background{
	display: inline-flex;
	margin: 0;
	padding-top: var(--section-padding-l);
	padding-bottom: var(--section-padding-l);
}
.wp-block-columns > .wp-block-column > *:last-child:not(:only-child){
	margin-bottom: 0;
}


/*--------------------------------------------------------------------------------------*\
| COVER IMAGE
\*--------------------------------------------------------------------------------------*/   
img.wp-block-cover__image-background {
	max-width: 100%;
	max-height: 550px;
	object-fit: cover;
}
body .wp-block-cover{
	position: relative;
    padding-top: 0;
    margin: 0;
    height: 500px;
    box-sizing: unset;
    padding: 0;
}
body .wp-block-cover img{
	width: 100%;
	max-height: 500px;
	height: 500px;
}


/*--------------------------------------------------------------------------------------*\
| ALIGNMENT
\*--------------------------------------------------------------------------------------*/   
.is-content-justification-center{
    justify-content: center;
}
.is-content-justification-left{
    justify-content: flex-start;
}
.is-content-justification-right{
    justify-content: flex-end;
}
.is-vertically-aligned-center{
	align-self: center;
}
.is-vertically-aligned-top{
	align-self: flex-start;
}
.is-vertically-aligned-bottom{
	align-self: flex-end;
}
.has-text-align-center{
	text-align: center;
}
.has-text-align-left{
	text-align: start;
}
.has-text-align-right{
	text-align: end;
}
figure.aligncenter{
	display: flex;
    justify-content: center;
}

/*--------------------------------------------------------------------------------------*\
| GALLERY
\*--------------------------------------------------------------------------------------*/   
.entry-content figure.wp-block-gallery{
    display: flex;
    flex-wrap: wrap;
	gap: var(--content-padding-m);
}
figure.wp-block-gallery > .wp-block-image{
    aspect-ratio: 1 / 1;
    width: calc(25% - 3 * var(--content-padding-m) / 4);
	display: flex;
}
figure.wp-block-gallery img{
	cursor: pointer;
	border-radius: unset;
	height: 100%;
    width: 100%;
}
figure.wp-block-gallery > figure{
	display: block;
	width: unset;
	height: unset;
}
figure.wp-block-gallery picture{
	margin-bottom: 10px;
}



/*--------------------------------------------------------------------------------------*\
| BLOCK QUERY
\*--------------------------------------------------------------------------------------*/   
.wp-block-query ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	gap: var(--content-gap);
	display: flex;
	flex-wrap: wrap;
}
li.wp-block-post .wp-block-group{
	padding: 0 !important;
}
li.wp-block-post{
	transition: 0.3s ease-in-out;
	width: calc( (100% - 2 * var(--content-gap) )/ 3);
}
li.wp-block-post.wide{
	width: calc( (100% - 1 * var(--content-gap) )/ 2);
}
.wp-block-post-title{
	padding: 0;
}
.wp-block-post-featured-image{
	height: 300px;
}
.wp-block-post-featured-image img{
	height: 300px;
	width: 100%;
	object-fit: cover;
}


/*--------------------------------------------------------------------------------------*\
| BUTTONS
\*--------------------------------------------------------------------------------------*/   
.wp-block-buttons{
	display: flex;
    flex-wrap: wrap;
	margin-top: var(--content-padding-l);
}
.wp-block-buttons:last-child{
	gap: var(--content-padding-m);
}
.wp-block-buttons:last-child .wp-block-button{
	margin-bottom: 0;
	margin-right: 0;
}
.wp-block-button{
	display: flex;
	align-items: center;
	margin-right: var(--content-padding-m);
	margin-bottom: var(--content-padding-m);
}
.wp-block-button .wp-block-button__link, .gform_button.button, header .contact-menu a {
	background-color: var(--default-filled-button-background-color);
	color: var(--default-filled-button-text-color);
	border: unset;
	transition: 0.23s;
	cursor: pointer;
	padding: 12px 24px;
	letter-spacing: 1.5px;
	border: 1px solid var(--default-filled-button-background-color);
	border-radius: var(--border-radius);
	transition: 0.3s;
}
body header .contact-menu a{
	background-color: unset;
	color: var(--default-filled-button-background-color);
}
.wp-block-button{
	cursor: pointer;
}
.wp-block-button:nth-child(2) .wp-block-button__link{
	background-color: unset;
	border: 1px solid var(--default-filled-button-background-color);
	color: var(--default-filled-button-background-color);
}
/* HOVER */
.wp-block-button .wp-block-button__link:hover, .gform_button.button:hover{
	background-color: unset;
	color: var(--default-filled-button-background-color);
}
.wp-block-button:nth-child(2) .wp-block-button__link:hover, header .contact-menu a:hover{
	background-color: var(--default-filled-button-background-color);;
	color: var(--default-filled-button-text-color);
	text-decoration: unset;
	border: 1px solid var(--default-filled-button-background-color);
}




/*--------------------------------------------------------------------------------------*\
| MEDIA QUERIES
\*--------------------------------------------------------------------------------------*/
@media screen and (min-width: 1800px){
	body .wp-block-cover{
		height: 800px;
	}
	body .wp-block-cover img{
		max-height: 800px;
		height: 800px;
	}

}
@media screen and (max-width: 1800px){
	.entry-content > .wp-block-columns.has-background {
		padding-top: var(--section-padding-m);
		padding-bottom: var(--section-padding-m);
	}
	.entry-content > *{
		padding-top: calc( 0.75 * var(--section-padding-l));
		padding-bottom: calc( 0.75 * var(--section-padding-l));
		max-width: 100%;
		margin: auto;
	}
	header.site-header, footer, .entry-content > *.alignwide, .entry-header{
		padding-left: calc( 1 * var(--section-padding-l));
		padding-right: calc( 1 * var(--section-padding-l));
	}
	.entry-content > *:not(.alignfull){
		padding-left: calc( 1 * var(--section-padding-l));
		padding-right: calc( 1 * var(--section-padding-l));
	}
	.entry-content > div.wp-block-columns *.has-background{
		padding: calc( 0.75 * var(--section-padding-l));;
	}
}
@media screen and (max-width: 1350px){
	.wp-block-column{
		flex-basis: unset !important;
	}
	.wp-block-columns > .wp-block-column:empty {
		display: none;
	}
	header.site-header, footer, .entry-content > *.alignwide, .entry-header{
		padding-left: calc( 0.5 * var(--section-padding-l));
		padding-right: calc( 0.5 * var(--section-padding-l));
	}
	.entry-content > *:not( .alignfull){
		padding-left:calc( 0.5 * var(--section-padding-l));
		padding-right: calc( 0.5  * var(--section-padding-l));
	}
	.entry-content > *{
		padding-top: var(--section-padding-m);
		padding-bottom: var(--section-padding-m);
		max-width: 100%;
		margin: auto;
	}
	.wp-block-button .wp-block-button__link, footer p:not(.cred) > a, .gform_button.button {
		padding: 12px;
	}
	.wp-block-cover .wp-block-cover__inner-container{
		padding: 25px;
	}
	.entry-content div.wp-block-columns{
		flex-wrap: wrap;
	}		
	body .wp-block-cover{
		height: 600px;
	}
	body .wp-block-cover img{
		max-height: 600px;
		height: 600px;
	}
	.entry-content > div.wp-block-columns *.has-background{
		padding: calc( 0.5  * var(--section-padding-l));
	}
	.entry-content > .wp-block-columns.has-background{
		padding: calc( 0.5  * var(--section-padding-l));
	}
	.wp-block-columns > div > .wp-block-columns{
		flex-wrap: nowrap;	
	}
	body.page div.entry-content > div:first-child::after{
		display: none;
	}
}
@media screen and (max-width: 900px){
	header.site-header, footer, .entry-content > *.alignwide, .entry-header{
		padding-left: calc( 0.5 * var(--section-padding-m));
		padding-right: calc( 0.5 * var(--section-padding-m));
	}
	.entry-content > *:not( .alignfull){
		padding-left: calc( 0.5 * var(--section-padding-m));
		padding-right: calc( 0.5 * var(--section-padding-m));
	}	
	.entry-content > *{
		padding-top: calc( 0.5 * var(--section-padding-m));
		padding-bottom: calc( 0.5 * var(--section-padding-m));
		max-width: 100%;
		margin: auto;
	}
	.entry-content > .wp-block-columns.has-background{
		padding: calc( 0.5 * var(--section-padding-m));
	}
	.entry-content > div.wp-block-columns *.has-background{
		padding: calc( 0.5  * var(--section-padding-m));
	}
	body .wp-block-quote p, body .wp-block-quote cite{
		max-width: 66%;
	}
	body .wp-block-quote {
		padding-top: var(--section-padding-m);
		padding-bottom: var(--section-padding-m);
	}
	
	body .wp-block-cover{
		height: 400px;
	}
	body .wp-block-cover img{
		max-height: 400px;
		height: 400px;
	}

}
@media screen and (max-width: 768px){
	.wp-block-columns > div > .wp-block-columns{
		flex-direction: column;	
	}
	.usp .wp-block-image img{
		width: 50px;
		object-fit: contain;
	}
	.wp-block-cover .wp-block-cover__inner-container{
		padding: 15px;
		opacity: 0.85;
	}
	body div.entry-content div.wp-block-columns, .wp-block-buttons{
		flex-wrap: wrap;
	}
	.wp-block-columns > .wp-block-column{
		flex-basis: 100%;
	}
	.wp-block-cover .wp-block-cover__inner-container::after{
		display: none;
	}
	.wp-block-cover img{
		filter: brightness(0.5);
	}
	body .wp-block-cover{
		height: 300px;
	}
	body .wp-block-cover img{
		max-height: 300px;
		height: 300px;
	}

}
@media screen and (max-width: 550px){	

	header.site-header, footer, .entry-content > *.alignwide, .entry-header{
		padding-left: calc( 0.5 * var(--section-padding-s));
		padding-right: calc( 0.5 * var(--section-padding-s));
	}
	.entry-content > *:not( .alignfull){
		padding-left: calc( 0.5 * var(--section-padding-s));
		padding-right: calc( 0.5 * var(--section-padding-s));
	}
	.entry-content > div.wp-block-columns *.has-background{
		padding: calc( 0.5 * var(--section-padding-s));
	}
	.entry-content > .wp-block-columns.has-background{
		padding: var(--section-padding-s) calc(  0.5 * var(--section-padding-s));
	}

}
