:root{
	
    --content-gap: 64px;

    --content-width-xs: 95%;
    --content-width-s: 900px;
    --content-width-m: 1350px;
    --content-width-l: 1800px;
    --content-width-xl: 1800px;

    --border-radius: 29px;

    --content-padding-xl: 64px;
    --content-padding-l: 32px;
    --content-padding-m: 16px;
    --content-padding-s: 8px;

    --section-padding-xl: 256px;
    --section-padding-l: 128px;
    --section-padding-m: 64px;
    --section-padding-s: 32px;
    --section-padding-xs: 16px;
    --section-padding-xxs: 8px;

}      	
        


/*--------------------------------------------------------------------------------------*\
| Character Styles
\*--------------------------------------------------------------------------------------*/
body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-color);
    letter-spacing: 2px;
}

h1 {
    font-family: 'aller', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 2px;
    color: var(--heading-text);
    margin-top: 0;
    margin-bottom: calc( 1.5 * var(--content-padding-m));
    text-wrap: balance;
}

h2 {
    font-family: 'aller', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 2px;
    color: var(--heading-text);
    margin-top: 0;
    margin-bottom: var(--content-padding-m);
    text-wrap: balance;
	
}
h3, figcaption {
    font-family: 'Effra', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 2px;
    color: var(--heading-text);
    margin-top: 0;
    margin-bottom: var(--content-padding-m);
    text-wrap: balance;

}
h4 {
    font-family: 'aller', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 2px;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: var(--content-padding-m);
    text-wrap: balance;
}
h5 {
    font-family: 'aller', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 2px;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: var(--content-padding-m);
    text-wrap: balance;

}
h6 {
    font-family: 'aller', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 2px;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: var(--content-padding-m);
    text-wrap: balance;

}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.45;
    letter-spacing: 0px;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 12px;
}
p > a{
    color: var(--filled-button-text);
}
a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--filled-button-text);
    margin-top: 0;
    line-height: 1.1;
    font-size: 16px;
}
a.wp-block-button__link{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--filled-button-text);
    margin-top: 0;
    font-weight: 400;
    line-height: 1.1;
    font-size: 16px;
}
li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0px;
    color: var(--text-color);
}




/*--------------------------------------------------------------------------------------*\
| Background Color
\*--------------------------------------------------------------------------------------*/
.has-default-text-color-background-color{
    background-color: var(--text-color)
}
.has-accent-text-color-one-background-color{
    background-color: var(--text-one)
}
.has-accent-text-color-two-background-color{
    background-color: var(--text-two)
}
.has-accent-text-color-three-background-color{
    background-color: var(--text-three)
}
.has-default-heading-text-color-background-color{
    background-color: var(--heading-color)
}
.has-default-background-color-background-color{
    background-color: var(--background-color)
}
.has-accent-background-color-one-background-color{
    background-color: var(--background-one)
}
.has-accent-background-color-two-background-color{
    background-color: var(--background-two)
}
.has-accent-background-color-three-background-color{
    background-color: var(--background-three)
}
.has-default-filled-button-text-color-background-color{
    background-color: var(--filled-button-text)
}
.has-default-filled-button-background-color-background-color{
    background-color: var(--filled-button-background)
}
.has-default-outlined-button-text-color-background-color{
    background-color: var(--outlined-button-text)
}
.has-default-outlined-button-background-color-background-color{
    background-color: var(--outlined-button-background)
}







/*--------------------------------------------------------------------------------------*\
| Text Color
\*--------------------------------------------------------------------------------------*/
.has-default-text-color-color{
    color: var(--text-color)
}
.has-accent-text-color-one-color{
    color: var(--text-one)
}
.has-accent-text-color-two-color{
    color: var(--text-two)
}
.has-accent-text-color-three-color{
    color: var(--text-three)
}
.has-default-heading-text-color-color{
    color: var(--heading-text)
}
.has-default-background-color-color{
    color: var(--background-color)
}

.has-accent-background-color-one-color{
    color: var(--background-color-one)
}
.has-accent-background-color-two-color{
    color: var(--background-color-two)
}
.has-accent-background-color-three-color{
    color: var(--background-color-three)
}
.has-default-filled-button-text-color-color{
    color: var(--filled-button-text)
}
.has-default-filled-button-background-color-color{
    color: var(--filled-button-background)
}
.has-default-outlined-button-text-color-color{
    color: var(--outlined-button-text)
}
.has-default-outlined-button-background-color-color{
    color: var(--outlined-button-background)
}



.has-default-text-color-color *{
    color: var(--text-color)
}
.has-accent-text-color-one-color *{
    color: var(--text-one)
}
.has-accent-text-color-two-color *{
    color: var(--text-two)
}
.has-accent-text-color-three-color *{
    color: var(--text-three)
}
.has-default-heading-text-color-color *{
    color: var(--heading-text)
}
.has-default-background-color-color *{
    color: var(--background-color)
}

.has-accent-background-color-one-color *{
    color: var(--background-color-one)
}
.has-accent-background-color-two-color *{
    color: var(--background-color-two)
}
.has-accent-background-color-three-color *{
    color: var(--background-color-three)
}
.has-default-filled-button-text-color-color *{
    color: var(--filled-button-text)
}
.has-default-filled-button-background-color-color *{
    color: var(--filled-button-background)
}
.has-default-outlined-button-text-color-color *{
    color: var(--outlined-button-text)
}
.has-default-outlined-button-background-color-color *{
    color: var(--outlined-button-background)
}



/*--------------------------------------------------------------------------------------*\
| MEDIA QUERIES
\*--------------------------------------------------------------------------------------*/
@media screen and (min-width: 1800px){
}   

@media screen and (max-width: 1800px){
	h1 {
		margin-bottom: calc( 0.75 * var(--content-padding-xl));
	}
	h2 {
		margin-bottom: calc( 0.75 * var(--content-padding-xl));
	}
	h3, figcaption {
		margin-bottom: calc( 0.75 * var(--content-padding-xl));
	}
	h4 {
		margin-bottom: calc( 0.75 * var(--content-padding-xl));
	}
}
@media screen and (max-width: 1350px){
	body{
	font-size: 16px;
	}
	h1 {
	font-size: 48px;
	margin-bottom: var(--content-padding-l);
	}
	h2 {
	font-size: 32px;
	margin-bottom: var(--content-padding-l);
	}
	h3, figcaption {
	font-size: 28px;
	margin-bottom: var(--content-padding-l);
	}
	h4 {
	font-size: 26px;
	margin-bottom: var(--content-padding-l);
	}
	h5 {
	font-size: 24px;
	}
	h6 {
	font-size: 22px;
	}
	p {
	font-size: 16px;
	}
	a {
	font-size: 14px;
	}
	a.wp-block-button__link{
	font-size: 14px;
	}
	li {
	font-size: 14px;
	}
	:root{
	--content-gap: 48px;
	}
	}
@media screen and (max-width: 900px){

}
@media screen and (max-width: 768px){
	:root{
	--content-gap: 32px;
	}
	body{
	font-size: 16px;
	}
	h1 {
	font-size: 38px;
	}
	h2 {
	font-size: 26px;
	}
	h3, figcaption {
	font-size: 24px;
	}
	h4 {
	font-size: 22px;
	}
	h5 {
	font-size: 20px;
	}
	h6 {
	font-size: 18px;
	}
	p {
	font-size: 14px;
	}
	a {
	font-size: 12px;
	}
	a.wp-block-button__link{
	font-size: 12px;
	}
	li {
	font-size: 12px;
	}
}
@media screen and (max-width: 550px){
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3{
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
}
